@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

/* Nave Bar */
#nav-bar {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
}

#nav-bar nav ul {
    display: flex;
}

#nav-bar nav ul a {
    color: white;
    font-size: medium;
    padding: 10px 20px;
}

#nav-bar nav ul a:hover {
    border-bottom: #28a745 solid 2px;
}

#nav-bar .logo {
    font-weight: 400;
}

/* Header */
.hero {
    height: 100vh;
    background: url('../img/home/showcase.jpg') no-repeat center center/cover;
    position: relative;
    color: white;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.hero * {
    z-index: 5;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 15px;
}

.cases img:hover {
    opacity: 0.7;
}

/* Team */
.pro img {
    margin: 0 20px;
    border-radius: 50%;
}